* {
    box-sizing: border-box;
  }

body {
    margin: 10px 50px 10px 50px;
}

.wrapper {
    margin:0 auto;
    max-width: 800px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.header {
    text-align: center;
}

h1 {
    color: red;
}

main {
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    text-align: center;
}

.footer {
    text-align: center;
}